body {
	background-color: #FFFAF0;
	text-align: center;
}

h1 {
	color: black;
	text-align: center;
	margin-top: 40px;
	padding: 3px;
}

h2 {
	color: black;
	text-align: center;
}

div {
	animation: bounceIn 2s;
	animation: bounceOut 2s;
}

#black-box {
	position: absolute;
	background-color: black;
	top: 162px;
	left: 162px;
	width: 250px;
	height: 250px;
	border-radius: 50px;
}

#red-box {
	position: absolute;
	top: 0px;
	left: 290px;
	border: 5px solid black;
	background-color: red;
	width: 280px;
	height: 280px;
	float: left;
	border-radius: 0 200px 0 0px;
}

#green-box {
	position: absolute;
	top: 0px;
	left: 0px;
	border: 5px solid black;
	background-color: green;
	width: 280px;
	height: 280px;
	float: left;
	border-radius: 200px 0 0 0;
}

#blue-box {
	position: absolute;
	top: 290px;
	left: 290px;
	border: 5px solid black;
	background-color: blue;
	width: 280px;
	height: 280px;
	float: left;
	border-radius: 0 0 200px 0;
}

#yellow-box {
	position: absolute;
	top: 290px;
	left: 0px;
	border: 5px solid black;
	background-color: yellow;
	width: 280px;
	height: 280px;
	float: left;
	border-radius: 0 0 0 200px;
}

#red-box.light {
	box-shadow: 0 0 200px red;
}

#green-box.light {
	box-shadow: 0 0 200px green;
}

#blue-box.light {
	box-shadow: 0 0 200px blue;
}

#yellow-box.light {
	box-shadow: 0 0 180px yellow;
}

 .container {
	position: relative;
  display: inline-block;
  width: 575px;
  height: 575px;
}

@keyframes bounceIn {
	0% {
		transform: scale (0);
		opacity: 0;
	}
	100% {
		transform: scale (1);
		opacity: 1;
	}
}

@keyframes bounceOut {
	0% {
		transform: scale(0.5);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

/*##########################################*/
						/*Media Queries*/
/*##########################################*/

/*iphone 6*/
@media screen and (max-width: 540px) {
	h1 {
		margin-left: 50px;
		padding: 10px;
	}
	
	h2 {
		margin-left: 50px;
		padding: 10px;
	}

	#black-box {
		position: absolute;
		background-color: black;
		top: 192px;
    left: 165px;
    width: 220px;
    height: 220px;
		border-radius: 50px;
	}

	#red-box {
		position: absolute;
		top: 60px;
    left: 280px;
    border: 5px solid black;
    background-color: red;
    width: 230px;
    height: 230px;
		float: left;
		border-radius: 0 200px 0 0px;
	}

	#green-box {
		position: absolute;
		top: 60px;
    left: 40px;
		border: 5px solid black;
		background-color: green;
		width: 230px;
		height: 230px;
		float: left;
		border-radius: 200px 0 0 0;
	}

	#blue-box {
		position: absolute;
		top: 299px;
    left: 280px;
		border: 5px solid black;
		background-color: blue;
		width: 230px;
    height: 230px;
		float: left;
		border-radius: 0 0 200px 0;
	}

	#yellow-box {
		position: absolute;
		top: 299px;
    left: 40px;
		border: 5px solid black;
		background-color: yellow;
		width: 230px;
		height: 230px;
		float: left;
		border-radius: 0 0 0 200px;
	}

	.container {
		position: relative;
	  display: inline-block;
	  width: 560px;
    height: 545px;
    padding-bottom: 50px;
	}
}





