body {
	background-color: #111;
	text-align: center;
}

h1 {
	color: white;
}

h2 {
	color: white;
}

p {
	color: white;
}

#black-box {
	position: absolute;
	background-color: black;
	top: 340px;
	left: 508px;
	width: 250px;
	height: 250px;
	border-radius: 50px;
}

#red-box {
	position: absolute;
	top: 180px;
	left: 648px;
	border: 4px solid white;
	background-color: red;
	width: 280px;
	height: 280px;
	float: left;
	border-radius: 0 200px 0 0px;
}

#green-box {
	position: absolute;
	top: 180px;
	left: 345px;
	border: 4px solid white;
	background-color: green;
	width: 280px;
	height: 280px;
	float: left;
	border-radius: 200px 0 0 0;
}

#blue-box {
	position: absolute;
	top: 482px;
	left: 648px;
	border: 4px solid white;
	background-color: blue;
	width: 280px;
	height: 280px;
	float: left;
	border-radius: 0 0 200px 0;
}

#yellow-box {
	position: absolute;
	top: 482px;
	left: 345px;
	border: 4px solid white;
	background-color: yellow;
	width: 280px;
	height: 280px;
	float: left;
	border-radius: 0 0 0 200px;
}

#red-box.light {
	box-shadow: 0 0 170px red;
}

#green-box.light {
	box-shadow: 0 0 180px green;
}

#blue-box.light {
	box-shadow: 0 0 150px blue;
}

#yellow-box.light {
	box-shadow: 0 0 120px yellow;
}









