body {
	background-color: black;
}

button {
	position: absolute;
	background-color: black;
	top: 100px;
	right: 200px;
}

a {
	color: white;
	text-decoration: none;
	font-size: 5em;
	display: inline;
}

#galaxy {
	position: absolute;
	color: yellow;
	width: 18em;
	height: 60em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	font-weight: bold;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(15deg);
}

#galaxy:after {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}

#galaxycontent {
	position: absolute;
	top: 100%;
	animation: scroll 150s linear .5s infinite;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

/*iPhone 6*/
@media screen and (max-width: 376px) {
	/*button {
		width: 80%;
	}
	a {
		width: 100%;
	}*/
	p {
		width: 30%;
	}
  body {
        background-color: #FFFAF0;
    }
}
